@font-face {
    font-family: 'HackNerdFont';
    src: url('fonts/Hack Regular Nerd Font Complete_slashed0.ttf') format('truetype'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
    background-color: #0c0f14;
    margin: 0;
    height: 100%;
}

.content {
    background-color: #031d2b;
    color: #fefefe;
    margin: 0 auto;
    padding: 10px;
    border: #10a4ff;
    border-radius: 15px;
    border-style: solid;
    width: 750px;
    font-family: HackNerdFont, monospace;
}
.textContent {
    width: 60%;
    margin: 5px auto;
}

.wideText {
    letter-spacing: 10px;
    line-height: 2;
}

.video {
    text-align: center;
}

