html, body{
    padding: 0;
    margin: 0;
  }

html{
    height: 100%;
  }

body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/Bamboo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.mainlinks {
    margin: auto;
    height: 100%;
    text-align: center;
    padding-top: 8em;
}

h1 {
    font-family: 'Pacifico', cursive;;
    margin: auto;
    text-align: center;
    padding: 50px 0px;
    color: #ffffff;
    text-transform: ;
    letter-spacing: 3px;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.432);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);


/* BUTTON CSS
------------------------------------------- */

a.button{
  display:inline-block;
	
	font:normal normal 300 1.3em 'Open Sans';
	text-decoration:none;	
	
	color:#333;
    background-color: rgba(255, 255, 255, 0.425);
	border:2px solid #333;
	border-radius:100px;
	
	padding: .3em 1.2em;
	margin:5px;
			
	background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, #333 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

a.button:hover{
	color:rgba(255, 255, 255, 1);
	background-color:#333;
	background-position: -100% 100%;
}

footer {
    position: absolute;
    width: 100%;
    line-height: 40px;
    font-size: 0.6em;
    text-align: center;
    bottom:0;
  }