html, body{
    padding: 0;
    margin: 0;
  }
  
html{
    height: 100%;
  }

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/IMG_kovetelmenyek.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.topnav a:hover {
    background: #ddd;
    color: black;
  }

h2 {
    margin-top: 80px;
}

.main {
    max-width: 90%;
    margin: auto;
}

footer {
    position: relative;
    width: 100%;
    line-height: 40px;
    font-size: 0.6em;
    text-align: center;
    bottom:0;
  }

  .jegyek .tg  {
    border-collapse:collapse;
    border-spacing:0;border-color:
    #aabcfe;
  }
  .jegyek .tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aabcfe;
    color:#669;
    background-color:#e8edff;
  }
  .jegyek .tg th{
    font-family:Arial, sans-serif;
    font-size:14px;font-weight:normal;
    padding:10px 5px;border-style:solid;
    border-width:1px;overflow:hidden;
    word-break:normal;
    border-color:#aabcfe;
    color:#039;
    background-color:#b9c9fe;
  }
  .jegyek .tg .tg-hmp3{
    background-color:#D2E4FC;
    text-align:left;
    vertical-align:top
  }
  .jegyek .tg .tg-0lax{
    text-align:left;
    vertical-align:top
  }
