html, body{
    padding: 0;
    margin: 0;
  }
  
html{
    height: 100%;
  }

body {
  min-width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/IMG_oktatok.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  color: #5e5858;
  background-color: #cdc3c1;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.topnav a:hover {
    background: #ddd;
    color: black;
  }

h2 {
    margin-top: 80px;
}

.main {
    max-width: 90%;
    margin: auto;
}

.main a:link {
    color: #c1342a;
    text-decoration: none
  }
  
.main a:visited {
    color: rgb(84, 182, 114);
    text-decoration: none
  }
  
.main a:hover {
    color: rgb(84, 182, 114);
    text-decoration: none
  }
  
.main a:active {
    color: rgb(173, 224, 226);
    text-decoration: none
  }

footer {
    position: absolute;
    width: 100%;
    line-height: 40px;
    font-size: 0.6em;
    text-align: center;
    bottom:0;
  }