html, body{
    padding: 0;
    margin: 0;
  }

  
html {
    height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 95%;
  background-color: white;
}

body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #9dddfc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.topnav a:hover {
    background: #ddd;
    color: black;
  }

h2 {
    margin-top: 80px;
    padding: 20px 0px 0px 0px;
    color: rgb(32,32,32);
   
}
.pre{
  max-width: 90%;
  margin: auto;
}

.main {
    max-width: 90%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.main1 {
  max-width: 90%;
  margin: auto;
}


.collapsible {
    background-color: rgb(63, 133, 151);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    opacity: 0.7;
  }
  
.active, .collapsible:hover {
    background-color: #9dddfc;
    color: black;
  }
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
  }

.pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 20px 20px 5px 20px;
}

figcaption{
  text-align:center;
  font-size: 0.8em;
  font-style: italic;
}

footer {
    position: relative;
    width: 100%;
    line-height: 40px;
    font-size: 1em;
    text-align: center;
    bottom:0;
    color: #fff;
  }

.snippet{
    padding: 20px;
  }

.pelda {
  background-color: rgba(42, 180, 214, 0.247);
  padding: 20px;
}

.hideYoStuff{
  background-color:black;
}

.vid{
  text-align:center; 
  display: block; 
}

.gist {width:750px !important;}
.gist-file
.gist-data {max-height: 500px;
            max-width: 750px;}