img {
    display: block;
    margin: auto;
}

blockquote {
    background-color: #fff9b3 !important;
    border-left: 4px solid #d69f1e !important;
    padding: 10px !important;
}

code {
    background-color: transparent !important;
}

ul ul li:first-child {
    margin-top: 5px !important;
}

li {
    margin-bottom: 5px !important;
}

.inline {
    display: inline;
}

.bordered-box {
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 10px;
}

.bordered-box ul, .bordered-box ol {
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}

.border-red {
    border-color: red;
}

.border-green {
    border-color: green;
}

.border-blue {
    border-color: blue;
}

.red, .orange, .green, .blue, .example {
    font-weight: bold !important;
}

.red, .red code {
    color: red !important;
}

.orange, .orange code {
    color: orange !important;
}

.green, .green code {
    color: green !important;
}

.blue, .blue code {
    color: blue !important;
}

.example, .example code {
    color: #3dacb9 !important;
}

.indented {
    margin-left: 20px;
    margin-right: 20px;
}