body {
  top: 4vw;
  position: relative;
}

.star-wars.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #046DAA;
  top: 0;
  left: 0;
  right: 0;
  height: 4vw;
}

.star-wars.navbar button {
  color: white;
  background-color: #046DAA00;
  border: none;
  font-weight: bold;
}

.star-wars.navbar button:hover {
  background-color: #99999922;
}

.star-wars.table-container {
  display: grid;
  justify-items: center;
}

.star-wars.table {
  width: 80%;
}

.star-wars.table table {
  border-collapse: collapse;
  width: 100%;
}

.star-wars.table th {
  text-align: left;
  padding: 8px;
  background-color: #046DAA;
  color: white;
}

.star-wars.table td {
  text-align: left;
  padding: 8px;
}

.star-wars.table tr:nth-child(even) {
  background-color: #f2f2f2
}

.star-wars.form-container {
  display: grid;
  justify-content: center;
}

.star-wars.form {
  display: grid;
  width: 30vw;
}
