#game_screen {
    visibility: hidden;
}
.gamebutton {
    background-color: cornflowerblue;
    color: white;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    border: 5px solid transparent;
    margin: 5px;
    position: relative;
}

.gamebutton:hover {
    border: 5px solid white;
}

.gamebutton.state_off {
    background-color: cornflowerblue;
}

.gamebutton.state_off:hover {
    background-color: #afcbfa;
}

.gamebutton.state_on {
    background-color: coral;
}

.gamebutton.state_on:hover {
    background-color: #ffb59c;
}

#gameboard {
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

/* butotn animation */
.button_holder {
    position: relative;
}

.animate_ripple {
    z-index: -100;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: absolute;
    top: 5px;
    left: 5px;

    animation: ripple_animation 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes ripple_animation {
    0% {
        height: 100px;
        width: 100px;
        opacity: 0.5;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -50px;
        margin-top: -50px;
        opacity: 0;
    }
}

/* butotn animation end */
