body {
    background-color: #101010;
    color: whitesmoke;
    font-family: Sans-Serif, serif;
    font-size: xx-large;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*overflow: hidden;*/

    animation: background_animation 100s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#gamemode_selector_btn {
    width: 200px;
}

#gamemode_random {
    margin-left: -20px;
    opacity: 0;
}

#gamemode_preset {
    margin-left: 100px;
}

.main_container {
    display: flex;
    flex-direction: column;
}

input {
}

input:hover {
    border: 3px white;
    background-color: #5b7186;
}

#win_text {
    visibility: hidden;
    margin-left: 80px;
}

#ui {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
}

.stats {
    display: flex;
    flex-direction: column;
}

.stats p {
    margin: 5px;
    color: #afafaf;
}

.stats p span {
    color: white;
}
/* Ripple effect */
.ui_button {
    background-position: center;
    transition: background 0.2s;

    background-color: #ffffff32;
    color: whitesmoke;
    padding: 15px;
    border-radius: 150px;
    border: 3px whitesmoke;
    font-size: xx-large;
    text-transform: capitalize;
    text-decoration: none;
}
.ui_button:hover {
    background: rgba(201, 201, 201, 0.65) radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.56) 1%) center/15000%;
}
.ui_button:active {
    background-color: rgba(187, 187, 187, 0.75);
    background-size: 100%;
    transition: background 0s;
}

#gamemode_preset {
    visibility: visible;
    margin-left: 5px;
}
#gamemode_random {
    visibility: hidden;
}

#level_number {
    padding: 20px;
}

#game_options {
    position: relative;
    margin-bottom: 90px;
}

.arrow_button {
    padding: 10px;
    width: 65px;
    height: 65px;
}

.gamemode_options {
    position: absolute;
}

#leaderboard_modal {
    background-color: #3e4d57;
    color: white;
    /*font-size: medium;*/
}

#add_name_leaderboard_modal {
    background-color: #3e4d57;
    color: white;
}

#add_name_leaderboard_modal input {
    margin-top: 2px;
    float: right;
}

.waring_label {
    color: red;
    visibility: hidden;
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
    color: #575757;
    font-size: medium;
    display: flex;
    margin-top: 100px;
    padding-left: 40px;
}

footer a {
    color: #575757;
}

footer p {
    align-self: center;
}

@keyframes background_animation {
    0% {
        background-color: #561400;
    }
    10% {
        background-color: #01134d;
    }
    20% {
        background-color: #4e5000;
    }
    30% {
        background-color: #510080;
    }
    40% {
        background-color: #1a6000;
    }
    50% {
        background-color: #001a80;
    }
    60% {
        background-color: #574800;
    }
    70% {
        background-color: #650036;
    }
    80% {
        background-color: #0d0080;
    }
    90% {
        background-color: #622900;
    }
    100% {
        background-color: #490000;
    }
}
