﻿@model WebApplication1.Models.Wizard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wizard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PureBlood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PureBlood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferencedHouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferencedHouse.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
